*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    background-color: blueviolet;
    height: 80px;
    .logo{
        color: whitesmoke;
        font-size: 35px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
    }
    ul{
        float: right;
        margin-right: 20px;
    }
    ul li{
        display: inline-block;
     
        line-height: 80px;
        margin: 0 10px;
    }
    .active{
        background-color: white;
        color: slateblue;
    }
    a{
        color: white;
        padding: 10px;
        border-radius: 10px;
        background-color: slateblue;
        text-decoration: none;
        list-style: none;
       
        &:hover{
            background-color: white;
            color: slateblue;
        }
    }
}