doctype html 
html 
    //- link(rel="stylesheet", href="./style.css")
    style. 
        h1{
            color : red
        }
    head 
        title  #{title}
       
    body 
       
        h1 #{name}
html