* {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
}
nav {
  background-color: black;
  height: 50px;
}
a {
  line-height: 50px;
  text-decoration: none;
  color: white;
  font-family: monospace;
  font-size: 25px;
  text-transform: uppercase;
  margin: 10px;
}
.card {
  padding: 20px;
  margin-top: 20px;
  width: 300px;
  /* height: 200px; */
  background-color: bisque;
}
.flex {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.btn {
  padding: 5px;
  font-size: 18px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  border: none;
}
.btn-div {
  text-align: center;
  margin-top: 10px;
}
