*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    height: 50px;
}
a{
    line-height: 50px;
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 25px;
    text-transform: uppercase;
    margin: 10px;
}