*{
    margin: 0;
    padding: 0;
}
nav{
    height: 80px;
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.title{
    line-height: 80px;
    font-size: 30px;
    
}
a{
    text-decoration: none;
    color: #000;
}
.sub-title{
    text-decoration: none;
   
    font-size: 25px;
    line-height: 80px;
}
.card{
    margin-top: 20px;
    width: 500px;
    box-shadow: 0px 2px 5px black;
    padding: 10px;
    box-sizing: border-box;
}
.main-div{
    display: flex;
    justify-content: center;
}
.btn{
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
    border: none;
    padding: 10px;
    margin-top: 10px;
}